<div class="" id="challenges">
    <div class="layer1 screen"></div>
    <div class="layer2 ">
        <h1 style="text-align: center">Challenges</h1>
        <div class="ui centered grid">
            <div class="twelve wide tablet five wide computer column">
                <h2>Beginner's Challenge</h2>
            </div>

            <div class="twelve wide tablet five wide computer column">
                <h2>Three Tophat Challenge</h2>
            </div>

            <div class="twelve wide tablet five wide computer column">
                <h2>Ten Buzzword Challenge</h2>
                <h3>Here is some description of the ten buzzword challenge. This should be a couple lines long.</h3>
            </div>
        </div>
    </div>
</div>