<div class="" id="home">
    <div class="layer1 screen"></div>
    <div class="layer2">
        <div class="middle-div title-page-text">
            <img id="base-main-logo" src="images/baseLogoTrans.png" alt="Ivory Hacks Logo">
            <h1>Ivory Hacks</h1>
            <div class="button-div">
                <button class="pull-left ui inverted button sign-up">Learn More</button>
                <button class="pull-right ui inverted button sign-up">Sign Up</button>
            </div>
            <div class="ran-by" style="margin-top: 2em">
                <h2 class="pull-left">Presented by: </h2>
                <img class="pull-right" id="rose-logo" src="images/rose-logo-red.jpg">
            </div>
        </div>
    </div>
</div>