<div class="" id="schedule">
    <div class="layer1 screen"></div>
    <div class="layer2 ">
        <h1 style="text-align: center">Schedule</h1>
        <div class="ui centered grid">
            <div class="twelve wide tablet five wide computer column">
                <h2>Friday</h2>
            </div>

            <div class="twelve wide tablet five wide computer column">
                <h2>Saturday</h2>
            </div>

            <div class="twelve wide tablet five wide computer column">
                <h2>Sunday</h2>
            </div>
        </div>
    </div>
</div>