#home {
    background: url('/images/RHIT_Self_Made_Man-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.layer1 {
    z-index: 2;
}
.layer2 {
    z-index: 4;
    position: absolute;
}



#home .layer2 {
    top: 7vh;
    width: 100vw;
}

.middle-div {
    margin: 0 auto;/* requires a set width */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*vertical-align: middle;*/
}
#rose-logo {
    width: 80%;
}

#base-main-logo {
    /*max-width:40vmin;*/
    margin: 0 auto;
    width: inherit;
}

.sign-up.button {

}
.title-page-text * {
    text-align: center;
}

.title-page-text {
    width: 35em;
    color: #FFFFFF;
}

.screen {
    background-color: #181415;
    opacity: 0.5;
    height: 100%;
}

.button-div .button {
    display: inline-block;
    font-size: 1.7em;
}
/***********************/
#about {
    background-color: #4f7588;
    height: 30vh;

}

#about .layer2{
/*width: 70vw;*/
/*margin-left: 15em;*/
/*margin-right:15em ;*/
top: 103vh;
}
#about * {
    color: #FFFFFF;
}

#challenges {
    background-color: #A7BCD6;
    width: 100%;
    height: 100vh;
}

#challenges .layer2 {
    top: 137vh;
    width: 100%;
    color: #FFFFFF;
}
#challenges h1 {
    padding-bottom: 2.5em;
}

#challenges .column h2 {
    text-align: center;
}

#challenges .column {
    height: 70vh;
    background-color: #a7bcd6;
    padding: auto 0;
    margin: auto 10px;
}

